header {
  height: 120vh;
  padding-top: 7rem;
  overflow: hidden;
}

.chiropractor {
  padding-right: 20%;
  opacity: 0;
  transition: var(--transition);
}

.developer {
  opacity: 0;
  padding-left: 20%;
  transition: var(--transition);
}

.header__container:hover {
  .chiropractor {
    opacity: 100%;
    padding: 0;
  }

  .developer {
    opacity: 100%;
    padding: 0;
  }

  .emoji {
    opacity: 0;
    font-size: small;
  }
}

.header__container > img {
  size: 10%;
  border-radius: 100%;
  overflow: hidden;
}

h2 {
  font-size: xx-large;
}

h3 {
  margin-top: 5%;
  padding-right: 10%;
  font-size: x-large;
}

h5 {
  padding: 1%;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__image {
  size: 50%;
  height: 20rem;
  width: 20rem;
  border: 2px solid;
  border-radius: 100%;
  overflow: hidden;
}

.emoji {
  font-size: xxx-large;
  padding: 0 5%;
  transition: var(--transition);
}

.turned {
  padding: 3%;
}

/* ========== CTA ========== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ========== HEADER SOCIALS ========== */
.header__socials {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  /* position: absolute;
  left: 0; */
  /* bottom: 3rem; */
}

.header__socials::after {
  content: "";
  width: 2rem;
  height: 1px;
  background: var(--color-primary);
}

.header__socials::before {
  content: "";
  width: 2rem;
  height: 1px;
  background: var(--color-primary);
}
*/

/* ========== ME ========== */
.me {
  background: linear-gradient(var(--color-primary));
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me img {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  border: 2px solid;
  border-radius: 100%;
  padding-top: 5px;
}

/* ========== QUOTATION ============ */
.header__description {
  padding: 2rem 6rem;
}

.header__description > h2 {
  padding: 0.5rem 2rem;
}

.open {
  display: flex;
  justify-content: flex-start;
}

.close {
  display: flex;
  justify-content: flex-end;
}

/* ========== SCROLL DOWN ========== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
